@use 'variables' as v;
@use 'mixins' as m;

html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: v.$fuente_principal;
    font-size: 1.8rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}

.alerta{
    padding: 1.2rem;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: v.$bold;
    margin-top: 2rem;

    &__error {
        background-color: lighten(v.$rojo, 60);
        border-left: .5rem solid v.$rojo;
    }

    &__exito {
        background-color: lighten(v.$verde, 40);
        border-left: .5rem solid v.$verde;
    }
}